extends layout

block content
  h1= title
  p Welcome to #[em All Issue Home]

  if error
    p Error
  else
    p The database has the following record counts:

    ul
      li #[strong Issues:] !{data.issue_count}
