extends layout

block content
  h1= title
  p Welcome to #[em All Issue Home], a very basic Express website.

  if error
    p Error getting dynamic content.
  else
    p The database has the following record counts:

    ul
      li #[strong Issues:] !{data.issue_count}
