extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='title') Title:
      input#title.form-control(type='text', placeholder='Name of Issue' name='title' required='true' value=(undefined===issue ? '' : issue.title) )
    div.form-group
      label(for='description') Description:
      textarea#description.form-control(type='textarea', placeholder='Description' name='description' rows='3' required='true') #{undefined===issue ? '' : issue.description}
    div
      input#filepond(type='file' name='filepond' class='filepond' data-max-files='10' multiple='' accept='image/*,.pdf,.doc,.docx,.txt')
    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg
